// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

.socials-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 12px;

    ng-rhombus-socials-table {
        flex-grow: 1;
        overflow: auto;
    }
}

.header-theme {
    @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary-container),
            container-text-color: var(--mat-sys-on-primary-container),
        ));

    @include mat.icon-button-overrides((icon-color: var(--mat-sys-on-primary-container),
        ));

    @include mat.elevation(6);
}