// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

.header-theme {
    @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary),
            container-text-color: var(--mat-sys-on-primary),
        ));

    @include mat.icon-button-overrides((icon-color: var(--mat-sys-on-primary),
        ));
}

.flex {
    flex: 1;
}