// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

:host {
    height: 100%;
    width: 100%;
    @include mat.elevation(6);
}

.header-theme {
    @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary),
            container-text-color: var(--mat-sys-on-primary),
        ));

    @include mat.icon-button-overrides((icon-color: var(--mat-sys-on-primary),
        ));
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.flex {
    flex: 1;
}