// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

.header-theme {
    @include mat.toolbar-overrides((container-background-color: var(--mat-sys-secondary),
            container-text-color: var(--mat-sys-on-secondary),
        ));

    @include mat.icon-button-overrides((icon-color: var(--mat-sys-on-secondary),
        ));

    // @include mat.elevation(6);
}

.home-container {
    margin: 16px;
    @include mat.elevation(6);
}