// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
}

.blog-post {
    @include mat.elevation(6);
}